[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
termcolor = "*"
pandas = "*"
scipy = "*"
mysql-connector-python = "*"
statistics = "*"
numpy = "*"
matplotlib = "*"
jupyter = "*"

[dev-packages]

[requires]
python_version = "3.9"
